<!DOCTYPE html>
<html lang="en">
    <head>

    </head>
    <body>

        <p>Please read the following terms and conditions carefully before using
            this website.</p>
        <p>As used hereof, the terms “you” and “user” shall mean any visitor to
            the website.</p>
        <p>
            THIS IS A LEGALLY BINDING AGREEMENT BETWEEN YOU AND BANK OF CEYLON
            (hereinafter referred to as “the Bank”)
            establishing the terms and conditions (sometimes referred to as
            “Terms of Use”) under which this website may be used
            whether personally or on behalf of an entity, concerning your access
            to and use of the http://www.boc.lk website as well
            as any other media form, media channel, mobile website or mobile
            application related, linked, or otherwise connected
            thereto (hereinafter referred to as the Web Site”).
        </p>
        <p>
            By accessing this website, you agree to be bound by the terms and
            conditions below. These terms and conditions are subject to changes
            and modifications without notice, from time to time at the sole
            discretion of the Bank. The Bank will notify you about any changes
            to these
            terms and conditions by updating the “Last updated” date of these
            Terms of Use.
        </p>
        <p>If you do not accept these terms and conditions DO NOT ACCESS THIS
            WEBSITE.</p>

        <h2>1. DETAILS OF THE BANK</h2>
        <p>
            Bank of Ceylon (“Bank”), a banking corporation duly established
            under the Bank of Ceylon Ordinance of No.53 of 1938
            and having its head office at No.1, BOC Square, Bank of Ceylon
            Mawatha, Colombo 01 (00100), Sri Lanka.
        </p>

        <h2>2. USER REPRESENTATIONS</h2>
        <p>You represent and warrant that:</p>
        <ul>
            <li>(1) you have the legal capacity and you agree to comply with
                these Terms of Use;</li>
            <li>(2) you are not a minor;</li>
            <li>(3) you will not access the Web Site through automated or
                non-human means, whether through a bot, script, or
                otherwise;</li>
            <li>(4) you will not use the Web Site for any illegal or
                unauthorized purpose; and</li>
            <li>(5) your use of the Web Site will not violate any applicable law
                or regulation.</li>
        </ul>
        <p>
            If you provide any information that is untrue, inaccurate, not
            current, or incomplete, the Bank has the right to suspend or
            terminate the
            access of this website.
        </p>

        <h2>3. WEBSITE CONTENT AND MATERIALS</h2>
        <p>
            This Web Site does not constitute an offer or solicitation on the
            part of the Bank to provide any product or service or investment
            advice.
            The information on this Website is for information purposes only.
            User accesses, uses, and relies upon such content at User’s own
            risk.
            Please seek the professional advice as necessary regarding the
            evaluation of any content on this Website.
        </p>
        <p>
            The information provided on this Web Site is not intended for
            distribution to, or use by, any person to whom it is unlawful to
            make such
            offer or solicitation or where the local law or regulation does not
            permit the purchase of, subscription for or otherwise use of such
            products
            or services. The Web Site should not be considered as communicating
            any invitation or inducement to engage in banking or investment
            activity or any offer to buy or sell any product or service outside
            any jurisdiction where the Bank is not licensed or authorized to
            perform
            such activities.
        </p>

        <h2>4. APPROPRIATENESS</h2>
        <p>
            Products and services mentioned in the Website may not be suitable
            or appropriate for you or in all geographical areas. Your particular
            needs, objectives and financial situation were not taken into
            account in the preparation of this Website and the materials
            contained herein.
            You must make your own independent decisions regarding any product
            or service mentioned herein. The fact that the Bank has made
            available through the Website, products, services and other
            information constitutes neither a recommendation that you enter into
            a
            particular transaction nor a representation that any product or
            service is suitable or appropriate for you.
        </p>

        <h2>5. PRODUCTS AND SERVICES</h2>
        <p>
            Every product or service may not be available in all locations.
            Products and services are available only in a particular location at
            the sole
            discretion of the Bank or the relevant Bank’s subsidiary or
            associate, subject to the distinct terms and conditions on which
            they are offered
            and such products and services may be withdrawn or amended at any
            time without notice. Details relating to fees, commissions or other
            charges that may apply to products or services will be informed by
            the office delivering the product or service.
        </p>

        <h2>6. USER DATA</h2>
        <p>
            The Bank will maintain certain data that you transmit to the Site
            for the purpose of managing the performance of the Site, as well as
            data
            relating to your use of the Site. Although the Bank performs regular
            routine backups of data, you are solely responsible for all data
            that
            you transmit or that relates to any activity you have undertaken
            using the Site. You agree that the Bank shall have no liability to
            you for any
            loss or corruption of any such data, and you hereby waive any right
            of action against the Bank arising from any such loss or corruption
            of
            such data.
        </p>

        <h2>7. INTELLECTUAL PROPERTY RIGHTS NOTICE</h2>
        <p>
            All contents of this Web Site including but not limited to the
            texts, photographs, graphics, links, videos, recordings and sounds
            (collectively “the content”) are owned by the Bank. Except as
            otherwise expressly stated herein, they may not be copied,
            transmitted,
            displayed, performed, distributed (for compensation or otherwise),
            licensed, altered, framed, stored for subsequent use, or otherwise
            used in whole or in part in any manner without prior written consent
            of the Bank.
        </p>
        <p>
            “Bank of Ceylon”, “BOC” logo and the symbol are trademarks and
            service marks of Bank of Ceylon and no license or permission is
            granted to use any such trademark or service mark without the prior
            written consent of the Bank. All other marks, names and logos used
            on this Web Site relating to bank’s affiliates/subsidiaries or to
            their products or services are the intellectual property rights held
            by the Bank
            unless otherwise stated.
        </p>

        <h2>8. DATA PRIVACY</h2>
        <p>
            The Bank protects the privacy and confidentiality of your
            information, including personal information/data relating to you
            collected by the
            Bank from this Web Site. The Bank maintains physical, electronic and
            procedural safeguards that comply with applicable legal standards
            to secure such information.
        </p>
        <p>
            Unless restricted by applicable laws, you agree that any and all
            personal information/data collected by the Bank from this Web Site
            may
            from time to time be used and disclosed for such purposes and to
            such persons to enhance the services that Bank can provide, but only
            in circumstances where such sharing conforms to law, any applicable
            confidentiality agreements, and our policies and practices.
        </p>

        <h2>9. DISRUPTION OF SERVICE</h2>
        <p>
            The Website or access to this website may be unavailable, delayed,
            limited or slowed from time to time due to various reason including
            among other things, hardware and software failures; failures of
            computers; overload of system capacities; damage caused by severe
            weather, explosion, mechanical breakdown or natural disasters;
            strike or other stoppage (whether partial or total) of labor;
            governmental
            or regulatory restrictions; court or tribunal orders or other human
            intervention; or any other cause whatsoever beyond the control of
            the
            Bank.
        </p>
        <p>
            If access to this Website is unavailable, delayed or limited, or
            slowed, your need/purpose may not be fulfilled/served promptly and
            you may
            be unable to transmit your instructions as necessary, or such
            instructions may not be timely executed or you may be unable to
            retrieve
            information on time.
        </p>
        <p>
            If your operations are solely dependent on communications with the
            bank and disruptions and delays in those communications cause losses
            to you, the Bank shall not be held responsible for such loss.
        </p>

        <h2>10. INDEMNIFICATION</h2>
        <p>
            You agree to defend, indemnify, and hold the Bank harmless,
            including Bank’s subsidiaries, affiliates, and all of the Bank’s
            officers, agents
            and employees, from and against any loss, damage, liability, claim,
            or demand, including reasonable attorneys’ fees and expenses, made
            by any third party due to or arising out of: (1) use of the Site;
            (2) breach of these Terms of Use; (3) any breach of your
            representations set
            forth in these Terms of Use; (4) your violation of the rights of a
            third party, including but not limited to intellectual property
            rights; or (5) any
            overt harmful act toward any other user of the Site with whom you
            connected via the Site.
        </p>

        <h2>11. MISCELLANEOUS</h2>
        <p>
            These Terms of Use and any policies or operating rules posted by the
            Bank on the Site or in respect to the Site constitute the entire
            agreement and understanding between you and the Bank.
        </p>
        <p>
            The Bank’s failure to exercise or enforce any right or provision of
            these Terms of Use shall not operate as a waiver of such right or
            provision. These Terms of Use operate to the fullest extent
            permissible by law. The Bank may assign any or all of its rights and
            obligations
            to others at any time. The Bank shall not be responsible or liable
            for any loss, damage, delay, or failure to act caused by any cause
            beyond
            the Bank’s reasonable control. If any provision or part of a
            provision of these Terms of Use is determined to be unlawful, void,
            or
            unenforceable, that provision or part of the provision is deemed
            severable from these Terms of Use and does not affect the validity
            and
            enforceability of any remaining provisions. There is no joint
            venture, partnership, employment or agency relationship created
            between you
            and the Bank as a result of these Terms of Use or use of the Site.
        </p>

        <h2>12. DISCLAIMER</h2>
        <p>
            This Website and its contents are provided "as is" and
            "as available". The information on this Web Site is not warranted as
            complete, accurate
            or timely, and Bank of Ceylon is not responsible for any errors or
            omissions in the information or for the results obtained from the
            use of
            this information.
        </p>
        <p>
            You acknowledge that your use of this Website is at your sole risk
            and discretion. Bank of Ceylon shall not be held liable for any
            damages
            or injury caused by or arising out of your use of this Website or
            the reliance on the information provided on this Website, including
            but not
            limited to any damages or injury caused by any failure of
            performance, error, omission, interruption, defect, delay in
            operation, computer
            virus, line failure, or other computer malfunctions.
        </p>

        <p>Last updated: August 1, 2024</p>

    </body>
</html>