.search-bar {
  margin: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.search-bar input[type="text"],
.search-bar input[type="date"] {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  flex-grow: 1;
}

.search-bar .search-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-bar .search-button:hover {
  background-color: #0056b3;
}
