/* AddEventBar.css */

.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 270px;
  height: 100%;
  background-color: #e0dec2;
  transition: left 0.3s ease;
  z-index: 1000;
}

.sidebar.show {
  left: 0;
}

.sidebar-content {
  height: 100%;
  padding: 20px;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.close-btn {
  background-color: red;
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 10px;
  padding: 10px;
}

.sidebar-body {
  overflow-y: auto;
  height: calc(100% - 60px);
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="url"],
input[type="datetime-local"],
textarea,
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box; /* Ensure padding is included in width */
  margin-bottom: 10px; /* Adds space between form elements */
}

textarea {
  resize: vertical; /* Allow vertical resizing for textarea */
}

button {
  margin-top: 15px;
}

.btn-primary {
  background-color: green;
  border: none;
  padding: 10px;
  cursor: pointer;
  color: white;
  border-radius: 10px;
}

.btn-danger {
  background-color: red;
  border: none;
  padding: 10px;
  cursor: pointer;
  color: white;
  margin-left: 10px;
  border-radius: 10px;
}
