
.loginMain{
    margin: 0px;
    padding: 0%;
    height: 100vh;
    width: 100vw;

}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
}

.header h1{
    color: rgb(52, 22, 22);
    font-size: 40px;
    margin: 0;
    padding: 0;

}
.boclogo{
    
    max-height: 70px;
    max-width: 120px;
    margin-right: 10px;
}
.container{
    margin-top: 50px;
    display:flex;
    justify-content: flex-start;
    padding-top: 20px;
}
.imgcontainer{
    flex: 1;
    max-width: 50%;
    padding-right: 30px;
}
.imgcontainer img{
    width:100%;
    height: auto; 
}
.logincontainer{
    flex: 1;
    max-width: 40%;
    padding-left: 30px;
}
.logincontainer form{
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.logincontainer input, .logincontainer button{
    padding: 10px;
    margin-bottom: 10px;
    border:1px solid black;
    border-radius: 5px;
}
 button{
    background-color:black;
    color: white;
    
 }
 button:hover{
    cursor: pointer;
    background-color: rgb(56, 51, 51);
 }
 .para{
    text-align: center;

 }
